<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodejs</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js">

</head>
<body>
    
    <div class="demo_title">
        <h6>Modern, Clean, Responsive, Beautiful &amp;</h6>
        <h1>Minimal Style Flex Cards</h1>
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3 mt-5">
        <div class="tpn_card">
          <img src="https://img.freepik.com/free-photo/adorable-baby-anime-dragon-illustration_23-2151117668.jpg?t=st=1710619863~exp=1710623463~hmac=879c41cd460efdada3c5c185b7e7615c343a50a498f02b18050947f6b032ca8f&w=1800" class="w-100 mb-4" />
          <h5>Dragon Art</h5>
          <p>Enjoy this clean styling.</p>
          <a href="javascript:;" class="btn tpn_btn">Explore</a>
        </div>
        <div class="tpn_card">
          <img src="https://img.freepik.com/free-photo/adorable-baby-anime-dragon-illustration_23-2151117668.jpg?t=st=1710619863~exp=1710623463~hmac=879c41cd460efdada3c5c185b7e7615c343a50a498f02b18050947f6b032ca8f&w=1800" class="w-100 mb-4" />
          <h5>Dragon Art</h5>
          <p>Enjoy this clean styling.</p>
          <a href="javascript:;" class="btn tpn_btn">Explore</a>
        </div>
        <div class="tpn_card">
          <img src="https://img.freepik.com/free-photo/adorable-baby-anime-dragon-illustration_23-2151117668.jpg?t=st=1710619863~exp=1710623463~hmac=879c41cd460efdada3c5c185b7e7615c343a50a498f02b18050947f6b032ca8f&w=1800" class="w-100 mb-4" />
          <h5>Dragon Art</h5>
          <p>Enjoy this clean styling.</p>
          <a href="javascript:;" class="btn tpn_btn">Explore</a>
        </div>
        <div class="tpn_card">
          <img src="https://img.freepik.com/free-photo/adorable-baby-anime-dragon-illustration_23-2151117668.jpg?t=st=1710619863~exp=1710623463~hmac=879c41cd460efdada3c5c185b7e7615c343a50a498f02b18050947f6b032ca8f&w=1800" class="w-100 mb-4" />
          <h5>Dragon Art</h5>
          <p>Enjoy this clean styling.</p>
          <a href="javascript:;" class="btn tpn_btn">Explore</a>
        </div>
      </div>
     
</body>
</html>