<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>
<body>
  <div style="display: flex;
  justify-content: center; 
 
  ">
  

    <form action="" >
        <h1>Form</h1>
        <input type="text" id= "inputusername">
        <input type="text" id= "inputname">
        <input type="number" id= "inputage">

        <button class="btn">name likho</button>
    </form>
  </div>
</body>
</html>